/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
}

p {
    color: #666;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}